/* Container untuk header */
header {
  background-color: #98fb98;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; /* Logo dan navigasi berjauhan di posisi kiri dan kanan */
  align-items: center;
}

/* Container untuk elemen logo dan navigasi */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start; /* Elemen rata kiri */
  align-items: center;
  padding: 0 20px;
}

/* Logo styling */
#logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Logo tetap di kiri */
}

#logo {
  height: 50px;
  transition: transform 0.3s ease;
}

#logoContainer:hover #logo {
  transform: scale(1.05);
}

/* Navbar styling */
nav {
  margin-left: auto; /* Posisi navigasi di sebelah kanan logo */
}

#nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Link navigasi rata kiri di sebelah logo */
}

#nav-links li {
  margin-left: 30px; /* Spasi antar link */
}

#nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease;
}

#nav-links li a:hover {
  color: #ffa601;
}

/* Responsive untuk mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Mengubah layout menjadi kolom di layar kecil */
    align-items: center; /* Logo dan navigasi di tengah di layar kecil */
  }

  #nav-links {
    flex-direction: column; /* Tautan vertikal di layar kecil */
    align-items: center;
  }

  #nav-links li {
    margin: 10px 0;
  }
}
